<%= render 'components/banner', url: "bg_img_reipol", class: "position-relative" %>
<div class="container bg-white rounded-4 p-4 position-absolute top-50 start-50 translate-middle-x">
  <div class="row">
  <h2 class="text-center">My lists</h2>
    <% counter = 0 %>
    <% @lists.each do |list| %>
    <div class="col-sm-3 text-center my-2">
      <div class="card card-height border-0">
        <%= cl_image_tag "#{list.photo.key}", height: "100%", class: "card-img obj-fit rounded-4" %>
          <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center overlay-bg rounded-4">
            <h3 class="text-light mb-4"><%= list.name %></h3>
            <div>
            <%= link_to "More", list_path(list), class: "btn btn-light" %>
            <%= link_to "Delete", list_path(list), class: "btn btn-danger text-light" %>
            </div>
          </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
